@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background: linear-gradient(162.3deg, #252525 76.63%, #937D78 183.72%);
  font-family: 'Inter', sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

h2{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}
.cardHeight{
  height: 25vh;
}
.instagramTitle{
  color: #C63D58;
}
.SpotifyTitle{
  color: #25D366;
}
.MailTitleAndSub{
  color: #262626;
}

.InstagramRetangle, .SpotifyRetangle, .LinkedinRetangle, .mailRetangle{
  display: flex;
  position: absolute;
  width: 100vw;
  height: 25vh;
}
.InstagramRetangle{
  background: linear-gradient(80.51deg, #252525 48.43%, rgba(37, 37, 37, 0) 87.77%);
}
.LinkedinRetangle{
  background: linear-gradient(81.68deg, #927C77 39.06%, rgba(37, 37, 37, 0) 93.1%);
}
.SpotifyRetangle{
  background: linear-gradient(80.01deg, #3A3931 49.12%, rgba(37, 37, 37, 0) 91.89%);
}
.mailRetangle{
  background: linear-gradient(80.01deg, #B0AFBC 49.12%, rgba(37, 37, 37, 0) 91.89%);
}

.ArrowDown{
  animation: go-back 1s infinite alternate;
  left: 50%;
}

@keyframes go-back {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateX(0);
  }
}

/* // Animation // */
.circles{
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  overflow: hidden;
  transform: scaleX(-1);
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}