@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  background: linear-gradient(162.3deg, #252525 76.63%, #937D78 183.72%);
  font-family: 'Inter', sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

.footerStick{
  bottom: 0;
  left: 42%;
}

p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
}

h2{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

span{
  color: #DF7E91;
}

.instagramTitle{
  color: #C63D58;
}
.InstagramRetangle{
  display: fixed;
  position: absolute;
  background: conic-gradient(from 131.63deg at 43.75% 0%, rgba(217, 217, 217, 0) 0deg, #252525 20.56deg, #252525 199.18deg, rgba(217, 217, 217, 0) 360deg);
  z-index: 10;
  width: 100vw;
  height: 7rem;
}

.LinkedinRetangle{
  display: fixed;
  position: absolute;
  background: conic-gradient(from 129.81deg at 40% 0%, rgba(217, 217, 217, 0) 0deg, #927C77 20.56deg, #927C77 174.42deg, #927C77 199.18deg, rgba(217, 217, 217, 0) 360deg);  
  z-index: 10;
  width: 100vw;
  height: 7rem;
}
.WhatsappTitle{
  color: #25D366;
}
.WhatsappRetangle{
  display: fixed;
  position: absolute;
  background: conic-gradient(from 135.82deg at 47.5% -4.02%, rgba(217, 217, 217, 0) 0deg, #404040 20.56deg, #404040 199.18deg, rgba(217, 217, 217, 0) 360deg);  
  width: 100vw;
  z-index: 10;
  height: 7rem;
}

.mailRetangle{
  display: fixed;
  position: absolute;
  background: conic-gradient(from 131.56deg at 43.61% 0%, rgba(217, 217, 217, 0) 0deg, #3A3931 20.56deg, #3A3931 199.18deg, rgba(217, 217, 217, 0) 360deg);  
  height: 7rem;
  z-index: 10;
  width: 100vw;
}